@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>


<body class="homepage-body">
    <p>
        If you're new to the Suzuki Method of learning an instrument, I recommend you do some reading.<br />
        If on the other hand you've had a little experience with it, this app has been built to give you <br />
        your life back. Whether you're a teacher or a parent. <br /> 
        <br />
        Students move in a sequential pattern through the lessons, just like in their private lessons. <br /> 
        Lessons unlock only with the approval of the students teacher. This allows for discrection in <br />
        the teacher's judgement regarding mastery of techniques in which other applications do not allow <br />
        space for. That's what sets this application apart from others. <br />

    </p>
</body>
