@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<style>
    div {
        margin-bottom: 10px;
       
    }
</style>
 
<body>
    <h3>Have any questions or comments? Contact us today.</h3>
    <div class="contact-info">
        <p>
            Email: leilah@leilahsmusicstudio.com
        </p>
        <p>
            Phone: (317) 683-0334
        </p>
    </div>

