@{
    ViewBag.Title = "Home Page";
}

<!-- Navbar End -->

<!-- Hero -->
<section class="hero">
    <div class="hero-image">
        <div class="hero-title-text">
            <h1 class="h4">Suzuki Companion</h1>
            <p class="titledesc">An app to help nurture your child's character through the study of music.</p>
            @*<a href=@Html.ActionLink("Register Now", "About", "Home", new { area = "" }, new { @class = "nav-link" })>Register Now</button></a>*@
            <a class="fcc-btn" href="@Html.ActionLink("Register Now", "About", "Home", new { area = "" }, new { @class = "nav-link" })"></a>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-4">
        <div class="homepage-body">
            <h2>Getting started</h2>
            <p>
                The Suzuki Companion gives you a powerful tool to supplement inbetween private lessons. <br />
                The Suzuki Method relies so heavily on parent involvement. <br />
                As the modern day evolves and most households have two-incomes, the support needed from <br />
                parents is often times, too much. As private teachers ourselves, <br />
                We see the strain the method can sometimes puts on parents in order to be successful. <br />
                So we had been creating content to help make your part a bit easier. <br />
                So, we built this app with you and your children's success in mind. We are here to support you. <br />
            </p>
            <p><a class="fcc-btn" href=@Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "nav-link" })</a></p>
        </div>
    </div>
</div>