@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <div class="homepage-body">
            <h2>Getting started</h2>
            <p>
                The Suzuki Companion gives you a powerful tool to supplement inbetween private lessons. The Suzuki Method relies so heavily on parent involvement. <br />
                As the modern day evolves and most households have two-incomes, the support needed from parents is often times, too much. As private teachers ourselves, <br />
                We see the strain the method can sometimes puts on parents in order to be successful. So we had been creating content to help make your part a bit easier. <br />
                So, we built this app with you and your children's success in mind. We are here to support you. <br />
            </p>
            <p><a class="btn btn-default" href=@Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "nav-link" })</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
</div>