
@{
    ViewBag.Title = "LessonOne";
}

<h2>LessonOne</h2>

!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMl Doc</title>
</head>
​
<body>
​
    <input type="text" id="food">
    <button id="btn">click</button>
    <select id="pickone">
    </select>
​
    @*<script>
        function getType() {
            var x = document.getElementById("food").value;
            var items;
            if (x === "fruit") {
                items = ["Apple", "Oranges", "Bananas"];
            } else {
                items = ["Eggplants", "Olives"]
            }
            var str = ""
            for (var item of items) {
                str += "<option>" + item + "</option>"
            }
            document.getElementById("pickone").innerHTML = str;
        }
        document.getElementById("btn").addEventListener("click", getType)
    </script>*@
</body>
​
</html>
